body {
  background: url("../img/background.avif");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Press Start 2P";
}
#start-screen {
}
#game-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: #977da1; /* Kolor tytułu */
  margin-bottom: 100px; /* Dodatkowy odstęp między tytułem a przyciskiem */
  font-family: "Press Start 2P", cursive;
  margin-bottom: 200px;
  animation: changeColor 4s infinite;
}
@keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}
#start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tutorial-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#start-button {
  padding: 15px 60px;
  background-color: #977da1; /* Kolor tła */
  color: #d4d4d4; /* Kolor tekstu */
  border: none;
  border-bottom: 5px solid #695a68; /* Dolna krawędź jako imitacja cienia */
  border-left: 5px solid #60505a;
  border-right: 5px solid #60505a;

  font-size: 24px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* Cień tekstu */
  cursor: pointer;
  box-shadow: 3px 3px 3px #3b353a; /* Imitacja cienia od góry */
  transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out; /* Dodanie efektu przejścia */
  font-family: "Press Start 2P", cursive;
  text-rendering: optimizeSpeed;
}

#start-button:hover {
  transform: translateY(3px); /* Podniesienie przycisku po najechaniu */
  box-shadow: none;
}
#tutorial-button {
  padding: 15px 60px;
  background-color: #977da1; /* Kolor tła */
  color: #d4d4d4; /* Kolor tekstu */
  border: none;
  border-bottom: 5px solid #695a68; /* Dolna krawędź jako imitacja cienia */
  border-left: 5px solid #60505a;
  border-right: 5px solid #60505a;

  font-size: 24px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* Cień tekstu */
  cursor: pointer;
  box-shadow: 3px 3px 3px #3b353a; /* Imitacja cienia od góry */
  transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out; /* Dodanie efektu przejścia */
  font-family: "Press Start 2P", cursive;
  text-rendering: optimizeSpeed;
}
#tutorial-button:hover {
  transform: translateY(3px); /* Podniesienie przycisku po najechaniu */
  box-shadow: none;
}
#game-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#pause-menu {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
}
#volume-slider {
  appearance: none; /* Usunięcie domyślnego wyglądu WebKit */
  height: 15px; /* Wysokość 15 pikseli */
  background: #ffffff; /* Kolor tła suwaka */
  outline: none; /* Usunięcie obramowania */
  opacity: 0.7; /* Przezroczystość suwaka */

  /* Styl kciuka suwaka */
  -webkit-transition: 0.2s; /* Animacja zmiany koloru kciuka dla WebKit */
  transition: opacity 0.2s; /* Animacja zmiany przejrzystości suwaka */
}

/* Kciuk suwaka WebKit (Safari, Chrome) */
#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Usunięcie domyślnego wyglądu WebKit */
  width: 25px; /* Szerokość kciuka */
  height: 25px; /* Wysokość kciuka */
  background: #4caf50; /* Kolor kciuka */
  border-radius: 50%; /* Zakrąglenie rogów kciuka */
  cursor: pointer; /* Zmiana kursora na pointer */
}
/*style zaciemnienia menu ulepszeń*/

#upgrades-menu {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
}
#upgrades-list {
  margin-top: 100px;
  list-style-type: none;
  padding: 0;
}
#upgrades-list li {
  margin-bottom: 70px; /* Dostosuj wielkość marginesu według potrzeb */
}

/* Dodaj styl do przycisków kupna */
#upgrades-list li button {
  margin-left: 10px; /* Odstęp między przyciskami, jeśli są obok siebie */
}
#upgrades-list li span {
  font-size: 50%;
}

/* Styl retro dla przycisku zakupu ulepszeń */
.upgrade-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffcc00; /* Żółty kolor tła */
  color: #333; /* Ciemny kolor tekstu */
  border: 2px solid #333; /* Ciemna obwódka */
  border-radius: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Cień tekstu */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Cień przycisku */
  transition: background-color 0.3s, color 0.3s;
}

.upgrade-button:hover {
  background-color: #cc9900; /* Żółty kolor tła po najechaniu myszką */
  color: #fff; /* Biały kolor tekstu po najechaniu myszką */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #272e31;
  color: white;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 70%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#close-button-container {
  display: flex;
  justify-content: end;
  align-items: end;
}
.close-button {
  background: none;
  border: none;
  color: gray; /* Kolor czerwony */
  font-size: 24px; /* Rozmiar czcionki */
  font-weight: bold; /* Pogrubienie tekstu */
  top: 10px;
  right: 10px;
  font-family: "Press Start 2P";
  cursor: pointer;
  text-align: end;
}

.close-button:hover {
  color: white; /* Kolor czerwony po najechaniu */
}
.ship-icon {
  width: 50px; /* Dostosuj szerokość ikonki statku według potrzeb */
  height: 50px; /* Dostosuj wysokość ikonki statku według potrzeb */
  margin-top: 10px; /* Dodatkowy margines od góry, aby oddzielić od tekstu */
}
.shoot-button {
  background-color: #95a5a6; /* Szary kolor przycisku */
  border: 4px solid #78c9e3; /* Błękitna obramówka */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 20px; /* Dodatkowy margines na dole */
}

.shoot-button.cooldown {
  animation: cooldownAnimation 1s linear forwards,
    fadeInAnimation 0.5s linear forwards;
}

@keyframes cooldownAnimation {
  0% {
    border: 4px solid #3498db; /* Zwiększona grubość obramówki */
  }
  100% {
    border: 4px solid transparent; /* Przejście do przezroczystej obramówki */
  }
}

@keyframes fadeInAnimation {
  0% {
    border: 0px solid transparent; /* Brak obramówki na początku */
  }
  100% {
    border: 4px solid #3498db; /* Zwiększona grubość obramówki na końcu */
  }
}
#tutorial-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: expandModal 0.5s ease-out;
}

@keyframes expandModal {
  from {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
.hide-modal {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.signature {
  position: flex;
  color: rgb(72, 72, 72);

  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}
